<style>
    .instructions {

    }
</style>
<div style="position: absolute; left: 4px; top: 4px;" id="qrScannerStart" ng-click="qrCodeScan.start()" ng-style="isDesktop() && {'color':'#636363'}" title="Scan QR Code">
    <i class="fa fa-camera fa-2x" aria-hidden="true"></i>
</div>
<div class="centered text-center">
    <div>
        <p class="instructions">Scan the QR code, or open the link below</p>

        <img class="img-responsive" src="" ng-src="{{ session.qr }}" style="min-width: 200px; min-height: 200px; margin: 0 auto;">
        <br/>
        <form class="form-inline">
            <div class="form-group">
                <a href="https://remote-sli.de/{{ session.session }}" target="_blank"><span class="text-muted" style="font-size:16px;">remote-sli.de/{{ session.session }}&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
            </div>
        </form>
    </div>
    <hr/>
    <div>
        <div>
            <p class="instructions">Drag the <strong>Bookmark</strong> into your bookmarks bar</p>

            <a class="btn btn-primary" href="" id="session-bookmark">Bookmark</a>
        </div>
        or
        <div>
            <a href="https://remote-sli.de/download/extension/chrome/RemoteSlide-Chrome.crx" target="_blank">Download Chrome Extension</a>
        </div>
    </div>
</div>

<div id="qrScannerModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="qrCodeScan.stop()"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">QR Code Scan</h5>
            </div>

            <div class="modal-body">
                <div>
                    <div style="font-weight: bold;">
                        <div ng-show="qrCodeScan.status=='none'">Loading...</div>
                        <div ng-show="qrCodeScan.status=='scanning'">Scanning... (this might take a few seconds)</div>
                        <div ng-show="qrCodeScan.status=='success'">Done! Redirecting...</div>
                        <div ng-show="qrCodeScan.status=='videoError'">Couldn't get video. Please make sure your camera is enabled.</div>
                        <div ng-show="qrCodeScan.status=='cancelled'">Cancelled.</div>
                    </div>
                    <div class="text-muted" ng-show="qrCodeScan.status=='scanning'">Point your camera at your screen and scan the QR code from the main page</div>
                </div>
                <div>
                    <div ng-class="{'scanning': qrCodeScan.status=='scanning'}">
                        <div id="qrScanner" style="width: 100%;height:100%;min-height: 300px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>