<style>
    .navigation-cross {
        min-width: 200px;
        min-height: 200px;
    }

    .navigation-cross .btn {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    .tooltip.left {
        padding: 0 5px;
        margin-left: -3px;
    }
</style>
<div style="position: absolute; left: 4px; top: 4px;" id="settings" ng-click="openSettings()">
    <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
</div>
<div class="centered">
    <div id="controls-container">
        <div id="btn-controls" ng-show="settings.navigationType=='button'">
            <div class="center-block text-center navigation-cross">
                <div>
                    <button class="btn-control btn" id="btn-control-up" data-keycode="38" ng-disabled="!session.initialized" ng-click="sendControl(38)">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </button>
                </div>
                <div>
                    <button class="btn-control btn" id="btn-control-left" data-keycode="37" ng-disabled="!session.initialized" ng-click="sendControl(37)">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </button>
                    <!--<button class="btn-control btn" id="btn-control-space" data-keycode="32" ng-disabled="!session.initialized" ng-click="sendControl(32)">-->
                    <!--<i class="fa fa-circle" aria-hidden="true"></i>-->
                    <!--</button>-->
                    <button class="btn-control btn" id="btn-control-laser" data-keycode="32" ng-disabled="!session.initialized" ng-click="deviceOrientation.sendData()">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </button>
                    <button class="btn-control btn" id="btn-control-right" data-keycode="39" ng-disabled="!session.initialized" ng-click="sendControl(39)">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                </div>
                <div>
                    <button class="btn-control btn" id="btn-control-down" data-keycode="40" ng-disabled="!session.initialized" ng-click="sendControl(40)">
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <br/>
            <button class="btn-control btn" id="btn-control-pgup" data-keycode="33" ng-disabled="!session.initialized" ng-click="sendControl(33)">
                Page Up
            </button>
            <button class="btn-control btn" id="btn-control-pgdown" data-keycode="34" ng-disabled="!session.initialized" ng-click="sendControl(34)">
                Page Down
            </button>

            <br/>
            <button class="btn-control btn" id="btn-control-zoomin" data-keycode="33" ng-disabled="!session.initialized" ng-click="sendControl(107,{ctrl:true})">
                Zoom in
            </button>
            <button class="btn-control btn" id="btn-control-zoomout" data-keycode="34" ng-disabled="!session.initialized" ng-click="sendControl(109,{ctrl:true})">
                Zoom out
            </button>
        </div>

        <div id="swipe-controls" ng-show="settings.navigationType=='swipe'">
            Swipe or tap to navigate
        </div>
    </div>
</div>

<div id="qrScannerModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">QR Code Scan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div>

                </div>
            </div>
        </div>
    </div>
</div>
