<style>
    .navigation-cross {
        min-width: 200px;
        min-height: 200px;
    }

    .navigation-cross .btn {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    .tooltip.left {
        padding: 0 5px;
        margin-left: -3px;
    }

    .overlay-message-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9998;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .overlay-message-content {
        z-index: 9999;
        font-size: 36px;
        font-weight: bold;
        color: white;
    }

    .btn.btn-alt:not(.btn-success) {
        background-color: #bbbbbb;
    }
</style>

<div ng-show="overlayMessage.message.length > 0">
    <div class="overlay-message-backdrop"></div>
    <div class="overlay-message-content centered">{{ overlayMessage.message }}</div>
</div>

<div style="position: absolute; left: 4px; top: 4px;" id="settings" ng-click="openSettings()">
    <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
</div>
<div class="centered">
    <div id="controls-container">
        <div id="btn-controls" ng-show="settings.navigationType=='button'">
            <div class="center-block text-center navigation-cross">
                <div>
                    <button class="btn-control btn" id="btn-control-up" data-keycode="38" ng-disabled="!session.initialized" ng-click="sendControl(38)">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </button>
                </div>
                <div>
                    <button class="btn-control btn" id="btn-control-left" data-keycode="37" ng-disabled="!session.initialized" ng-click="sendControl(37)">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </button>
                    <button class="btn-control btn" id="btn-control-space" data-keycode="32" ng-disabled="!session.initialized" ng-click="sendControl(32)">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </button>
                    <button class="btn-control btn" id="btn-control-right" data-keycode="39" ng-disabled="!session.initialized" ng-click="sendControl(39)">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                </div>
                <div>
                    <button class="btn-control btn" id="btn-control-down" data-keycode="40" ng-disabled="!session.initialized" ng-click="sendControl(40)">
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <!--<br/>-->
            <!--<button class="btn-control btn" id="btn-control-pgup" data-keycode="33" ng-disabled="!session.initialized" ng-click="sendControl(33)">-->
            <!--Page Up-->
            <!--</button>-->
            <!--<button class="btn-control btn" id="btn-control-pgdown" data-keycode="34" ng-disabled="!session.initialized" ng-click="sendControl(34)">-->
            <!--Page Down-->
            <!--</button>-->

            <!--<br/>-->
            <!--<button class="btn-control btn" id="btn-control-zoomin" data-keycode="33" ng-disabled="!session.initialized" ng-click="sendControl(107,{ctrl:true})">-->
            <!--Zoom in-->
            <!--</button>-->
            <!--<button class="btn-control btn" id="btn-control-zoomout" data-keycode="34" ng-disabled="!session.initialized" ng-click="sendControl(109,{ctrl:true})">-->
            <!--Zoom out-->
            <!--</button>-->

            <div>
                {{ deviceOrientation.lastGamma }}
            </div>
        </div>

        <div id="swipe-controls" ng-show="settings.navigationType=='swipe'">
            <div class="text-center">
                Swipe or tap to navigate
            </div>
        </div>

        <div id="laser-controls" ng-show="settings.navigationType=='laser'">
            <div class="text-center" style="min-width:200px">
                <div>
                    <button class="btn-control btn" id="btn-control-laser" style="width:64px; height:64px;" ng-disabled="!session.initialized" ng-click="deviceOrientation.sendData()" ng-style="deviceOrientation.laserActive && {'color':settings.laserStyle.color}">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </button>
                </div>
                <br/>
                <div>
                    <div class="btn-group">
                        <button class="btn" ng-click="settings.put('laserTool','pointer')" ng-class="{'btn-success':settings.laserTool=='pointer'}"><i class="fa fa-circle" aria-hidden="true"></i></button>
                        <button class="btn" disabled ng-click="settings.put('laserTool','pencil')" ng-class="{'btn-success':settings.laserTool=='pencil'}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button class="btn" disabled ng-click="settings.put('laserTool','eraser')" ng-class="{'btn-success':settings.laserTool=='eraser'}"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                        <button class="btn" disabled ng-click="settings.put('laserTool','mouse_pointer')" ng-class="{'btn-success':settings.laserTool=='mouse_pointer'}"><i class="fa fa-mouse-pointer" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding: 30px">
    <div style="position:relative;width: 100%;padding: 0px;" ng-show="slideInfo.screenshot">
        <img class="img-responsive" src="" data-ng-src="{{ slideInfo.screenshot }}" style="margin: 0 auto">
        <div ng-show="slideInfo.waitingForScreenshot" style="background-color: gray; opacity:0.7;color: #fff;position: absolute;bottom: 0;left: 0;top:0;width: 100%;text-align:center;"><img class="" src="img/ring.svg"></div>
    </div>
</div>
<div ng-hide="slideInfo.page.size==0||slideInfo.page.index==0">
    <div class="progress" style="bottom: 2px; position: absolute; width: 100%;">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ slideInfo.page.index }}" aria-valuemin="0" aria-valuemax="{{ slideInfo.page.size }}" ng-class="{'progress-bar-success':slideInfo.page.index==slideInfo.page.size}" ng-style="{'width':(slideInfo.page.index/slideInfo.page.size)*100+'%'}">
            <span>{{ slideInfo.page.index }}/{{ slideInfo.page.size }}</span>
        </div>
    </div>
</div>

<div id="settingsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><!-- TODO: call settings.save() on close -->
                <h5 class="modal-title">Settings</h5>
            </div>

            <div class="modal-body">
                <div>
                    <div>
                        <h3>General</h3>
                        <div>
                            <label for="username">Your Name</label>
                            <input type="text" id="username" placeholder="Username" class="form-control" ng-model="settings.username">
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="navigationTypeButtons">Navigation Method</label>
                            </div>
                            <div class="btn-group" id="navigationTypeButtons">
                                <!--<button class="btn controls-toggle" id="controls-toggle-buttons" ng-click="settings.put('navigationType','button');closeSettings()" ng-class="{'btn-success':settings.navigationType=='button'}">Buttons</button>-->
                                <button class="btn controls-toggle btn-alt" id="controls-toggle-swipe" ng-click="settings.put('navigationType','swipe');closeSettings()" ng-class="{'btn-success':settings.navigationType=='swipe'}">Swipe</button>
                                <button class="btn controls-toggle" id="controls-toggle-laser" ng-click="settings.put('navigationType','laser');closeSettings()" ng-class="{'btn-success':settings.navigationType=='laser'}">Laser</button>
                            </div>
                        </div>
                        <div>
                            <div class="checkbox">
                                <label>
                                    <input id="controls-vibration" type="checkbox" ng-model="settings.vibration">
                                    Vibration
                                </label>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h3>Laser Pointer</h3>
                        <div>
                            <button class="btn" ng-class="{'btn-success':deviceOrientation.calibration.active, 'btn-primary':!deviceOrientation.calibration.active}" ng-click="deviceOrientation.calibration.toggleCalibration()">{{ deviceOrientation.calibration.active ? "Calibration active! Tap to stop" : "Start Laser Calibration" }}</button>
                            <!--<span class="help-block">Point your phone at the screen and tap the button above</span>-->
                        </div>
                        <div>
                            <label for="laser-style-color">
                                Color
                                <input type="text" class="form-control" id="laser-style-color" ng-model="settings.laserStyle.color" ng-style="{'background-color':settings.laserStyle.color}">
                            </label>
                        </div>
                        <div>
                            <label for="laser-style-size">
                                Size
                                <input type="number" class="form-control" id="laser-style-size" ng-model="settings.laserStyle['font-size']">
                            </label>
                        </div>
                        <div>
                            <label for="laser-style-icon">
                                Icon
                                <input type="text" class="form-control" id="laser-style-icon" ng-model="settings.laserStyle._icon">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>