<!DOCTYPE html>
<html ng-app="slideApp" ng-controller="slideController" ng-style="(session.type=='remote' && settings.navigationType=='swipe') && {'touch-action':'none'}" id="outer-html-wrapper">
    <head>
        <title>Remote Slide</title>
        <link id="favicon" rel="shortcut icon" type="image/png" href="/favicon.png"/>

        <meta name="description" content="Remotely control slides and presentations from your smartphone without external applications">
        <meta name="keywords" content="slide,presentation,remote,powerpoint,present,control">
        <meta name="author" content="inventivetalent">

        <meta property="og:type" content="website">
        <meta property="og:title" content="Remote Slide">
        <meta property="og:image" content="https://remote-sli.de/img/logo.png">
        <meta property="og:description" content="Remotely control slides and presentations from your smartphone without external applications">

        <meta property="twitter:title" content="Remote Slide">
        <meta property="twitter:image" content="https://remote-sli.de/img/logo.png">
        <meta property="twitter:description" content="Remotely control slides and presentations from your smartphone without external applications">
        <meta property="twitter:site" content="@RemoteSlide">
        <meta property="twitter:creator" content="@Inventivtalent">
        <meta property="twitter:card" content="summary">


        <!-- Theme Color (https://stackoverflow.com/questions/26960703/how-to-change-the-color-of-header-bar-and-address-bar-in-newest-android-chrome-v) -->
        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#222222">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#222222">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#222222">
        <!-- /Theme Color -->

        <meta name="robots" content="index, follow">

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap2/bootstrap-switch.min.css" rel="stylesheet">
        <style>
            .centered {
                position: fixed;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        </style>

        <meta name=viewport content="width=device-width, initial-scale=1">

        <base href="/">

        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
        <script>
            window.addEventListener("load", function () {
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#edeff5",
                            "text": "#838391"
                        },
                        "button": {
                            "background": "#4b81e8"
                        }
                    },
                    "position": "bottom-right"
                })
            });
        </script>

        <!-- http://codepen.io/femto113/pen/wBjVdL -->
        <style>
            .scanning:after {
                content: '';
                /* make the element cover the whole thing */
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                /* and sit in front */
                z-index: 1;
                /* gradient with a radar like fade */
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) 50%, rgba(0, 255, 0, .5) 55%, rgba(0, 255, 0, 1) 56%, rgba(0, 0, 0, 0.25) 56%, rgba(0, 0, 0, 0.25));
                /* make it big enough so when we slide it around still covers whole image */
                background-size: 300% 100%;
                background-repeat: no-repeat;
                /* start with the scan bar just off the left side */
                background-position: 84% center;
                -webkit-animation: scan 5s infinite ease;
            }

            @-webkit-keyframes scan {
                /* finish with the scan bar just off the right side */
                100% {
                    background-position: 25% center;
                }
            }
        </style>
    </head>
    <body ng-cloak>
        <div>
            <div>
                <div style="position: absolute; right: 2px; top: 2px;" id="statusIcons">
                    <div ng-style="{'color': statusIcon.color}" data-toggle="tooltip" data-placement="left" title="test">
                        <i ng-show="statusIcon.type=='times'" class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i>
                        <i ng-show="statusIcon.type=='check'" class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
                        <i ng-show="statusIcon.type=='question'" class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="tooltip fade left in" role="tooltip" style="top: 5px; right: 35px;" ng-show="statusIcon.messageVisible">
                    <div class="tooltip-arrow" style="top: 50%;"></div>
                    <div class="tooltip-inner">{{ statusIcon.message }}</div>
                </div>
            </div>
            <div ng-view></div>
        </div>

        <div id="settingsModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h5 class="modal-title">Settings</h5>
                    </div>

                    <div class="modal-body">
                        <div>
                            <div class="form-group">
                                <div>
                                    <label for="navigationTypeButtons">Navigation Method</label>
                                </div>
                                <div class="btn-group" id="navigationTypeButtons">
                                    <button class="btn controls-toggle" id="controls-toggle-buttons" ng-click="settings.put('navigationType','button')" ng-class="{'btn-success':settings.navigationType=='button'}">Buttons</button>
                                    <button class="btn controls-toggle" id="controls-toggle-swipe" ng-click="settings.put('navigationType','swipe')" ng-class="{'btn-success':settings.navigationType=='swipe'}">Swipe</button>
                                </div>
                            </div>
                            <!-- TODO: vibration setting -->
                            <div>
                                <div class="checkbox">
                                    <label>
                                        <input id="controls-vibration" type="checkbox" ng-model="settings.vibration" ng-change="settings.save()">
                                        Vibration
                                    </label>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <label>Rotation Offset</label>
                                </div>
                                <div>
                                    <button class="btn" ng-class="{'btn-success':deviceOrientation.calibration.active, 'btn-primary':!deviceOrientation.calibration.active}" ng-click="deviceOrientation.calibration.toggleCalibration()">{{ deviceOrientation.calibration.active ? "Calibration active! Tap to stop" : "Start Laser Calibration" }}</button>
                                    <!--<span class="help-block">Point your phone at the screen and tap the button above</span>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="qrScannerModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="qrCodeScan.stop()"><span aria-hidden="true">&times;</span></button>
                        <h5 class="modal-title">QR Code Scan</h5>
                    </div>

                    <div class="modal-body">
                        <div>
                            <div ng-show="qrCodeScan.status=='none'">Loading...</div>
                            <div ng-show="qrCodeScan.status=='scanning'">Scanning... (this might take a few seconds)</div>
                            <div ng-show="qrCodeScan.status=='success'">Done! Redirecting...</div>
                            <div ng-show="qrCodeScan.status=='videoError'">Couldn't get video. Please make sure your camera is enabled.</div>
                            <div ng-show="qrCodeScan.status=='cancelled'">Cancelled.</div>
                        </div>
                        <div>
                            <div ng-class="{'scanning': qrCodeScan.status=='scanning'}">
                                <div id="qrScanner" style="width: 100%;height:100%;min-height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-cookies.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
        <script src="/js/lib/jsqrcode-combined.min.js"></script>
        <script src="/js/lib/html5-qrcode.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>

        <script src="/js/script.js"></script>
        <script src="/js/mainController.js"></script>
        <script src="/js/indexController.js"></script>
        <script src="/js/remoteController.js"></script>
    </body>
</html>