<!doctype html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <div class="centered text-center">
            <div>
                <img src="<%= sessionQrCode %>" style="width: 256px; height: 256px;">
                <br/>
                <form class="form-inline">
                    <div class="form-group">
                        <span class="text-muted" style="font-size:16px;">https://remote-slide.ga/r/<%= sessionId %></span>
                    </div>
                </form>
            </div>
            <hr/>
            <div>
                <a class="btn btn-primary" href="#" id="session-bookmark">Bookmark</a>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
        <script id="bookmark-template" type="text/plain">
            javascript:if (!remote_slide) {
                console.log("hi");
                var remote_slide = {
                    session: '<%= sessionId %>'
                };
                (function () {
                    var sc = document.createElement('SCRIPT');
                    sc.type = 'text/javascript';
                    sc.src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js";
                    sc.onload = function () {
                        var sc = document.createElement('SCRIPT');
                        sc.type = 'text/javascript';
                        sc.src = "https://remote-slide.ga/host-bookmark.js?xx";
                        document.getElementsByTagName('head')[0].appendChild(sc);
                    };
                    document.getElementsByTagName('head')[0].appendChild(sc);
                })();
            }


        </script>
        <script>
            $(function () {
                $("#session-bookmark").attr("href", $("#bookmark-template").text());
            });
        </script>
    </body>
</html>