<html>
    <head>
        <% include partials/head.ejs %>
        <style>
            .navigation-cross {
                min-width: 200px;
                min-height: 200px;
            }

            .navigation-cross > .btn {
                width: 50px;
                height: 50px;
                margin: 5px;
            }
        </style>
    </head>
    <body>
        <div class="centered">
            <div id="btn-controls">
                <div class="center-block text-center navigation-cross">
                    <button class="btn-control btn" id="btn-control-up" data-keycode="38">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </button>
                    <br/>
                    <button class="btn-control btn" id="btn-control-left" data-keycode="37">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </button>
                    <button class="btn-control btn" id="btn-control-space" data-keycode="32">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </button>
                    <button class="btn-control btn" id="btn-control-right" data-keycode="39">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                    <br/>
                    <button class="btn-control btn" id="btn-control-down" data-keycode="40">
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </button>


                </div>

                <br/>
                <button class="btn-control btn" id="btn-control-pgup" data-keycode="33">
                    Page Up
                </button>
                <button class="btn-control btn" id="btn-control-pgdown" data-keycode="34">
                    Page Down
                </button>
            </div>
            <div id="session-form" style="display: none;">
                <form>
                    <input type="text" id="session-id" class="form-control" required>
                    <button type="submit" id="session-submit" class="btn">Submit</button>
                </form>
            </div>
            <div id="swipe-controls" style="display: none;">
                Swipe to navigate
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
        <script>
            $(function () {
                var socket = io();
                // TODO: remove
                window._socket = socket;


                var session = "<%= session %>";
                if (session) {
                    $("#session-id").val(session);
                    socket.emit("init", {iAm: "remote", session: $("#session-id").val()});
                    $("#session-id").prop("disabled", true);
                    $(".btn-control").prop("disabled", false);
                } else {
                    $(".btn-control").prop("disabled", true);
                    $("#session-form").show();
                    $("#session-submit").click(function (e) {
                        e.preventDefault();
                        window.location = "https://remote-slide.ga/remote/" + $("#session-id").val();
                    })
                }

                $("button.btn-control").click(function () {
                    var $this = $(this);
                    var keyCode = $this.data("keycode");
                    socket.emit("control", {keyCode: keyCode});
                });

                socket.on("err", function (msg) {
                    alert("Error #" + msg.code + ": " + msg.msg)
                })
            });
        </script>
    </body>
</html>